<!--footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.Home.Permalink }}" >
    &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
  </a>
    <div>{{ partial "social-follow.html" . }}</div>
  </div>
</footer-->
<footer style="margin-top: auto" class="bg-navy w-100 pa1" role="contentinfo">
  <div class="flex justify-between">
  <a class="hover-white no-underline white-70 pv2 ph3" href="/" >
    &copy;  Memento 2024
  </a>
    </div>
</footer>

